* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-image: url("https://i.redd.it/qwd83nc4xxf41.jpg");
}
.sezione {
    height: 100vh;
    padding: 0;
}

.intestazione {
    height: 70px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

img {
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}

.intestazione i {
    margin: 7px;
    font-size: 20px;
    color: grey;
}

.avviso {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 157, 255);
}

#bell {
    background-color: white;
    border-radius: 50%;
    color: rgb(0, 157, 255);
    margin-left: 10px;
}

#bell i {
    margin: 5px;
    font-size: 20px;
    color: rgb(0, 157, 255);
}

#attiva-notifiche {
    font-size: 12px;
    color: rgb(95, 95, 95);
    text-decoration: underline;
}

#ricerca-utente {
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

#barra-text i {
    margin: 10px;
    font-size: 20px;
    color: grey;
}

.parte-dx {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 100%;
}

#barra-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.contatto {
    border-bottom: solid 1px rgb(240, 240, 240);
}

.max-50 {
    max-width: 50%;
}

/* flex */

.justify {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}


/* color and background-color */

.white-bg {
    background-color: white;
}
.grey-bg {
    background-color: rgb(240, 240, 240);
}

.relative {
    position: relative;
}

.grey {
    color: grey;
}

.px-12 {
    font-size: 12px;
}


/* rchiamate in funzioni */

.mandato {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
}
.ricevuto {
    display: flex;
    justify-content: flex-start;
    padding: 3px;
}
.mandato-color {
    background-color: rgb(126, 173, 164);
    padding: 10px;
    border-radius: 10px;
}

.ricevuto-color {
    background-color: rgb(235, 230, 169);
    padding: 10px;
    border-radius: 10px;
}

.none {
    display: none;
}